<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="nav">
<div class="logo">FairWage AI Prediction</div>
</div>

<div class="container">

<div class="card">

<h2>🧠 AI Salary Prediction</h2>
<p>Predict your expected fair salary based on experience</p>

<form method="POST">

<label>Years of Experience</label>
<input name="exp" type="number" placeholder="Enter years of experience" required>

<br><br>
<button type="submit">Predict Salary</button>

</form>

{% if result %}
<br>
<h3 class="success">{{ result }}</h3>
{% endif %}

</div>

</div>

</body>
</html>
